body
{
	background: #170136;
    color: white;
}

	.login_div1 , .login_div2
	{
		background: #2c1d41;
		padding: 10px;
		float: none;
		border-radius: 15px;
        color: white;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: white;
border-radius: 10px;
border-top: 10px solid #2c1d41;
padding: 10px;
float: none;
text-align: left;
}

.container {
    color: rgb(0, 93, 186);
}